.parent1 {
    height: 50px;
    width: 100%;

}
p {
    text-align: center;
    padding: 10PX 30PX;
    color: #FFFFFF;
}
.parent2 {
    height: 25px;
    padding-left: 150px;
    padding-right: 150px;

}
.image {
    background-image: url("images/shop7_image.jpg");
    height: 130px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.text {
    padding-top: 35px;
   margin-left: 180px;
   margin-top: 8px;
}
.text a {
    margin-right: 12px;
    font-size: 23px;
    color: #183B56;
}
.B1 {
    padding: 7px 17px;
    background-color: #2294ED;
    color: #FFFFFF;
    text-decoration: none;

}
.B1 a {
    text-decoration: none;
}
.B2 a {
    text-decoration: none;
}
.B2 {
    padding: 7px 17px;
    background-color: #2294ED;
    color: #FFFFFF;
}
.parent3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
}
.box {
    /* border: 2px solid black; */
    height: 300px;
    width: 900px;
}
.parent3 p {
    height: 80px;
    width: 594px;
    margin: 0 0 20px 0;
    font-size: x-large;
    color: #183ED1;
    margin-bottom: 0px;
}
h1 {
    height: 72px;
    width: 594px;
    margin-left: 120px;
    color: #183ED1;
    margin-bottom: 20px;
}
 .parent3 button {
    height: 48px;
    width: 106px;
    padding: 12px 24px;
    background-color: #2294ED;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #2294ED;
}
.box2 {
    background-image: url("images/hero1_image.jpg");
    height: 335px;
    width: 460px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
p {
    height: 24px;
    margin-top: 20px;
}
.parent4 p {

    
    text-align: center;
    color: #183ED1;
}

.parent5 {
    margin-top: 40px;
    padding-right: 20PX;
}
.image1  {
    margin-top: 20px;
    height: 74px;
    width: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 120px;

}
.parent6 {
    height: 50px;
    text-align: center;
}
.parent6 button {
    margin: 20px;
    padding: 12px 24px;
    font-size: large;
    margin-right: 200px;
}
.parent7 {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding: 150px;
    padding-right: 150px;
}
.parent7 p {
    height: 52px;
    width: 329px;
    font-size: 17.6px;
    color: #577592;

}
.hope {
    /* border: 2px solid black; */
    height: 150px;
    width: 900px;
}
.hope1 img {
    height: 70px;
    width: 45px;
    margin-left: 190px;
    margin-top: 40px;
    margin-bottom: 5px;
}
h3 {
    height: 28px;
    width: 180px;
    font-size: x-large;
    margin-left: 200px;
    margin: 5px 0 0 160px;
}
.hope p {
    font-size:x-large;
    margin: 5px 0;
}
 .hope button {
    margin-left: 100px;
    padding: 12px 24px;
    font-size: 18px;
    width: 172px;
    height: 40px;
    background-color: #2294ED;
}
.parent8 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.hope4 {
    padding-left: 150px;
    width: 30%;
}
.hope3 {
    /* border: 2px solid black; */
    height: 600px;
    width: 2000px;
}

.parent8 h2 {
    height: 36px;
    width: 384px;
    color: #183B56;
    margin-left: 100px;
    margin-bottom: 8px;
}

.parent8 h4{
    margin-left: 100px;
    margin-bottom: 10px;
}

.parent8 p {
    height: 104px;
    width: 384px;
    color: #183B56;
    font-size: 17px;
    padding-right: 500px;
    margin-top: 0px;
}
.hope2 img {
    margin-top: 50px;
    height: 477px;
    width: 400px;
    display: block;
}

.parent9 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 150px;
}

.hope5 {
    padding-left: 150px;
    width: 30%;
}

.hope8 {
    /* border: 2px solid black; */
    height: 600px;
    width: 500px;
}

.parent9 h2 {
    height: 36px;
    width: 384px;
    color: #183B56;
    margin-left: 100px;
    margin-bottom: 8px;
}

.parent9 h4 {
    margin-left: 100px;
    margin-bottom: 10px;
}

.parent9 p {
    height: 104px;
    width: 384px;
    color: #183B56;
    font-size: 17px;
    padding-right: 500px;
    margin-top: 0px;
}

.hope6 img {
    margin-top: 50px;
    height: 490px;
    width: 400px;
    display: block;
}

.parent10 {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
}
.point {
    border: 2px solid black;
    height: 400px;
    width: 1150px;
    background-size: auto 400px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-right: 20px;
}
.text1 {
    position: absolute;
    bottom: 40px;
    left: 10px;
    font-size: 30px;
    color: #FFFFFF;
}
.parent11 {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #183B56;
}
.point1 {
    /* border: 2px solid black; */
    height: 600px;
    width: 1270px;
}
.point3 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.parent12 {
    margin-top: 20px;
    padding-top: 80px;
    height: 304px;
    width: 1134px;
}
.parent12 button {
    background-color: #183ED1;
    color: #FFFFFF;
    border: 2px solid #183B56;
}

.footer {
    display: flex;
    justify-content: center;
}
.f1 {
    /* border: 2px solid black; */
    height: 350px;
    width: 1250px;
}
.f1 img {
    height: auto;
    width: 90%;

}
.f1 li {
    list-style: none;
    margin-top: 20px;
    font-size: 18px;
    color: #183B56;

}
.f1 h4  {
    height: 24px;
    width: 72px;
    color: #183B56;
    font-size: 17px;
}
.footer1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #B9CDE4;
    padding-top: 40px;
    padding-left: 20px;
}
.f2 {
    /* border: 2px solid black; */
    height: 40px;
    width: 1150px;
    color: #183B56;
}
.f2 a {
    padding-left: 110px;
}
.image3 a {
    padding: 0;
    margin: 0;
}

